

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to my Surf Blog!</h1>

<body>
    <p class="welcome-text">
        Create an account to view posts and leave comments!
        Sample text:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec dapibus massa, a pellentesque quam. Quisque vestibulum enim non odio sagittis efficitur. Morbi interdum lectus nec arcu aliquet sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pharetra felis tempus, pellentesque ante mattis, ullamcorper sem. Praesent vestibulum suscipit risus non hendrerit. Curabitur a vulputate mauris, et pretium erat. Cras a tempor nibh.

        Vestibulum vel commodo nisi. Quisque ut interdum turpis. Pellentesque vel nisi ut odio molestie dapibus. Aenean pulvinar sit amet libero fringilla ultricies. Aliquam pulvinar risus consectetur justo placerat laoreet. Proin a nisl at tortor pulvinar commodo. Morbi feugiat tempor egestas. Phasellus nisi nisi, accumsan in feugiat vel, pellentesque et lectus. Suspendisse a diam mi. Maecenas quis ligula sapien.

        Vivamus turpis dui, efficitur at metus id, congue placerat odio. Duis a semper ex. Nulla ut ante at lacus pellentesque faucibus a in neque. Integer facilisis egestas purus, eu fringilla orci aliquet id. Phasellus posuere suscipit faucibus. In facilisis metus id ante dapibus aliquet non vel tellus. Maecenas et suscipit orci, vitae rutrum dolor. Suspendisse congue quam in lorem mollis, vel pharetra massa tempor. Donec tristique tincidunt lectus, in tincidunt neque tempus a. Aliquam erat volutpat. Aliquam faucibus orci in erat pharetra aliquam. Aenean pellentesque nulla id venenatis rhoncus. Integer vel lectus eu elit semper vulputate. Donec vitae dolor id mauris tristique luctus.

        Mauris lacinia, velit et lobortis vehicula, enim velit porta urna, eu eleifend libero magna ut neque. Vivamus suscipit purus in leo egestas blandit. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam et ultricies sem, id consectetur nulla. Suspendisse potenti. Nunc vel nibh ut dolor aliquam aliquam. Cras semper sem nisl, et finibus elit suscipit vitae.

        Quisque nulla quam, lobortis id finibus at, pellentesque eget erat. Phasellus ut diam tristique, sollicitudin ligula ac, lacinia tortor. Vestibulum dapibus neque iaculis mollis tempus. Curabitur sed consectetur mauris, ut maximus nisl. Curabitur sed elit sed purus gravida pellentesque. Mauris ultrices eros at leo facilisis semper. Nullam at ex sit amet nulla commodo gravida. Cras ac massa non risus egestas tincidunt. Nulla efficitur hendrerit vulputate. Phasellus aliquet auctor consequat. Pellentesque suscipit vitae massa et interdum.
    </p>
</body>