@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All images used are from a copyright free source: pexels.com</p>
<p>
    Some sample text:
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae nibh laoreet, consectetur magna cursus, iaculis tortor. Pellentesque mattis sit amet justo ac malesuada. Nulla commodo neque vitae auctor maximus. Morbi semper tortor quis molestie fringilla. Aliquam cursus tempus molestie. Vivamus auctor sed massa id pellentesque. Morbi felis nisi, efficitur sed lacus pellentesque, luctus convallis mauris. Praesent efficitur libero vehicula, tempor nulla ut, mollis ex. Curabitur pellentesque eleifend erat, sed posuere dui. Suspendisse in hendrerit nisi. Etiam at velit est.

    Maecenas pharetra augue sed mi ornare, nec pretium dolor consectetur. Suspendisse potenti. Suspendisse ac nulla a nisl venenatis egestas. Curabitur eros magna, malesuada vel aliquam eu, commodo placerat ligula. Ut fringilla erat non lorem eleifend auctor quis a orci. Nulla sem sapien, laoreet id aliquam quis, fringilla id velit. Praesent ornare, orci sit amet vestibulum efficitur, libero lectus mattis velit, eget rhoncus lorem mauris at risus. Duis sed mollis sapien. Fusce nisi arcu, sodales vel ornare eget, aliquet id tellus.

    Sed porta nunc id fringilla pulvinar. Curabitur maximus nulla arcu, a tincidunt nunc hendrerit eleifend. Sed mollis diam vitae mauris commodo luctus. Donec sapien justo, accumsan eget varius eu, congue ac dolor. Donec vel urna tempor, mollis lectus sit amet, hendrerit elit. Nunc id condimentum libero, vehicula suscipit orci. Proin et congue leo.

    Etiam eget nisl ut est sollicitudin rutrum. Ut sodales, quam in viverra elementum, eros justo malesuada metus, bibendum vulputate mi elit finibus est. Aenean sit amet aliquam est. Aliquam sit amet viverra odio. Mauris sit amet pretium ex, non interdum tortor. Phasellus suscipit ex a mauris bibendum, et tincidunt ligula placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut auctor lorem in pharetra volutpat. Etiam nulla mi, sagittis eget sem at, suscipit commodo massa. Cras non eros eget mi dignissim consectetur. Ut vel leo id est placerat hendrerit. In et ante ac nibh congue ultricies. Donec velit justo, sollicitudin in ultricies et, sagittis ac elit. Ut egestas hendrerit risus, id lobortis sem accumsan in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi et rutrum mauris.

    Curabitur fringilla eu ex eu elementum. Vivamus a mollis erat. Ut ullamcorper lacus efficitur ante bibendum, sed ornare ipsum pulvinar. Cras tincidunt metus sapien, sed tempor diam ultrices ut. Praesent euismod faucibus velit, ut auctor nibh interdum ut. Praesent et convallis orci, vitae tincidunt ex. Vestibulum in mi magna. Fusce facilisis arcu neque, vulputate lacinia dui aliquam vitae. Aliquam non ligula et nulla interdum rhoncus. Duis eget tempor neque, eget sodales nunc. Nam euismod ex turpis, vel euismod nibh faucibus ac. Nunc et mattis risus. Phasellus posuere efficitur erat ut iaculis.
</p>
